# Demo 0: PostgreSQL and AutoCommits

In this demo we will see how to use PostgreSQL with Python. We will also see how to use autocommit mode and how to use the `psycopg2` module.

In [1]:
import psycopg2

### First, let's create a table in PostgreSQL
This connects to our local instance of PostgreSQL. We will use the `psycopg2` module. From there we will use the database/schema. This connection will reach out to the database and insure we have the correct privilages to connecto to this database.

In [2]:
conn = psycopg2.connect("host=localhost port=54320 dbname=postgres user=postgres password=my_password")

### Next use that connection to get a cursor that we will use to execute queries.

In [3]:
cur = conn.cursor()

### Let's run a query

In [4]:
cur.execute("select * from test123")

UndefinedTable: relation "test123" does not exist
LINE 1: select * from test123
                      ^

Right away we hit an error, but that is okay. Let's fix the error by creating the table.

In [5]:
cur.execute("CREATE TABLE test123 (col1 int, col2 int, col3 int);")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

When we execute this query, as we have not committed the transaction and we had an error in our transaction block, we are blocked until we restart the connection.

In [6]:
conn = psycopg2.connect("host=localhost port=54320 dbname=postgres user=postgres password=my_password")
cur = conn.cursor()

In our exercises instead of worrying about commiting each transaction or getting an strange error, when we hit something unexpected, let's set autocommit mode to true. This way, after each call during this session, commit that one action and do not hold open the transaction for any other actions. One action = one transaction.

__For this demo we will use autocommit so that each action is commited without having to call conn.commit() after each command. The ability to rollback and commit transactions are a feature of Relational Databases.__

In [7]:
conn.set_session(autocommit=True)

In [8]:
cur.execute("select * from test123")

UndefinedTable: relation "test123" does not exist
LINE 1: select * from test123
                      ^

In [9]:
cur.execute("CREATE TABLE test123 (col1 int, col2 int, col3 int);")

In [10]:
cur.execute("select * from test123")

In [11]:
cur.execute("select count(*) from test123")
print(cur.fetchall())

[(0,)]

In [12]:
cur.execute("drop table test123")